@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url(tablet.css);
@import url(mobile.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #080202;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-next {
    color: #DB241B;
}

.swiper-button-prev {
    color: #DB241B;
}

.swiper-pagination-bullet {
    background-color: #D3D2D2;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #DB241B;
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    position: absolute;
    top: 100px;
    /* Ajusta según sea necesario */
    right: 0;
    display: flex;
    align-items: center;
    background-color: #AB1C15;
    width: 100%;
}

.menu-2 {
    margin-left: auto;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.submenu li {
    padding: 10px;
}

.submenu li:hover {
    background-color: #f0f0f0;
}

.logo-1 {
    width: 0;
}

.logo-2 {
    width: 195px;
    height: 78px;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; 
}

.social:hover {
    background-color: #000000;
    transform: translateY(-10px);
}

.social img {
    margin: 8px 0 0 10px;
    transition: transform 0.3s ease-in-out;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #000000;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

.slider {
    display: flex;
    align-items: center;
}

.slider-txt {
    margin-left: 85px;
    width: 50%;
}

.slider-txt h1 {
    font-size: 70px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: #A7A7A7;
}

.slider-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-txt-2 {
    width: 70%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;

}

.slider-txt-2 h1 {
    font-size: 70px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt-2 p {
    font-size: 18px;
    color: #A7A7A7;
}

.botones {
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover {
    background-color: #DB241B;
}

.slider-img {
    width: 50%;
}

.slider-img img {
    margin-right: 225px;
    width: 550px;
}

.products {
    background-color: #0D0D0D;
}

.products .swiper-slide {
    transition: transform 0.3s ease-in-out;
}

.products .swiper-slide:hover {
    transform: translateY(30px);
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #A7A7A7;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    border-bottom: 2px solid #DB241B;
    color: #FFFFFF;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.product-img {
    width: 50%;
    text-align: left;
}

.product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-img img {
    width: 150px;
    height: 120px;
}

.product-txt {
    width: 50%;
    margin-left: 10px;
    text-align: left;
}

.product-txt h4 {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p {
    color: #A7A7A7;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
}

.info {
    padding: 100px 0px;
    display: flex;
    align-items: center;
}

.info-img {
    width: 50%;
}

.info-img img {
    width: 500px;
    height: 250px;
}

.info-txt {
    width: 50%;
}

.info-txt h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-txt p {
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 50px;
}

.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #DB241B;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out;
}

.btn-2:hover {
    background-color: #AB1C15;
    transform: translateY(-20px);
}

.inicio {
    padding: 50px 0px;
    background-color: #000000;
}

.nosotros {
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: #000000;
}

.horario {
    padding: 100px 0px;
    background-color: #0D0D0D;
}

.horario-info h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.horario-txt {
    display: flex;
    justify-content: space-between;
}

.txt {
    color: #FFFFFF;
}

.txt h4 {
    font-size: 18px;
    color: #A7A7A7;
    margin-bottom: 30px;
}

.txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.map {
    filter: grayscale(100%) invert(92%) contrast(93%);
}

.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.links h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

.contacto {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 10%;
    background-color: #000000;
}

.contact-form {
    margin-top: 30px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    padding: 15px;
    background-color: #DB241B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #AB1C15;
}

.info-txt h5 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 0px;
}

.redes {
    padding-top: 150px;
    padding-bottom: 0px;
    background-color: #080202;
}

.redes-info {
    padding-top: 100px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
}

.tiktok {
    padding: 5%;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 0px;
    background-color: #000000;
}

.Carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.elemento {
    flex: 0 0 auto;
    width: 330px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px 0px;
}

.blockquote.tiktok-embed {
    width: 100%;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
    background-color: #000;
}

.Carrusel::-webkit-scrollbar {
    width: 5px;
}

.Carrusel::-webkit-scrollbar-track {
    background: #0D0D0D;
}

.Carrusel::-webkit-scrollbar-thumb {
    background: #DB241B;
    border-radius: 10px;
}

.servicios {
    padding-top: 150px;
    padding-bottom: 0px;
    background-color: #000000;
}

.servicios-info {
    padding-top: 100px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
}

.mapas {
    padding: 150px 0px;
    background-color: #000000;
}

.mapas-info {
    margin-top: 100px;
    /* Ajusta este valor según sea necesario para dejar suficiente espacio */
}

.mapas-info h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.mapas-txt {
    display: flex;
    justify-content: space-between;
}

aside {
    flex: 1;
    /* Que ocupe el espacio necesario y deje el resto para el mapa */
}

.mapas-main {
    flex: 1;
    /* Que ocupe el espacio necesario y deje el resto para la lista de sedes */
    display: flex;
    flex-direction: column;
}

.txt {
    color: #FFFFFF;
}

.CLHip {
    width: 350px;
    height: 70px;
    background-color: #DB241B;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out; 
}

.CLHip:hover {
    background-color: #AB1C15;
    transform: translateX(50px);
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: black;
}

.CLFrame {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 20px;
}

.info-sede p {
    color: white;
    /* Color de texto blanco */
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

.intranet {
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: #000000;
}

.intranet-content{
    max-width: 400px;
    width: 100%;
    background-color: #080808;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #FFFFFF; 
    margin: auto; /* Agregado para centrar el formulario */
    margin-top: 50px; /* Espacio superior */
}

.intranet-info-txt h5 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #DB241B;
}

.intranet-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intranet-input-group {
    text-align: left;
}

.intranet-input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #A7A7A7;
}

.intranet-input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #FFFFFF;
    font-size: 16px;
}

.intranet-button-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.intranet-button-group button {
    flex: 1;
    padding: 15px;
    background-color: #DB241B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.intranet-button-group button:hover {
    background-color: #AB1C15;
}

.hidden {
    display:none;
}
